@font-face {
	font-family: 'Work Sans';
	font-weight: normal;
	src: url('/fonts/WorkSans-Regular.ttf');
}

@font-face {
	font-family: 'Work Sans';
	font-weight: bold;
	src: url('/fonts/WorkSans-Medium.ttf');
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Work Sans', monospace;
	color: #000;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.7);
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5em;
	color: rgba(0, 0, 0, .9);
}

h2 {
	font-size: 35px;
}

a {
	color: #000;
}

a:hover {
	background-color: #000;
	color: #fff;
}

p {
	line-height: 1.7em;
	margin: 20px 0;
}

p:not(:last-child) {
	margin-bottom: 50px;
}
